<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JSONHB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <JSONHB.Properties.Settings>
            <setting name="UAVSerialNumberJson" serializeAs="String">
                <value>UAV-WHITECAP</value>
            </setting>
            <setting name="UAVSecretKeyJson" serializeAs="String">
                <value>CE79B860B520453BA7E144A56360D3B0</value>
            </setting>
            <setting name="FlyteDev" serializeAs="String">
                <value>https://FlyteDEV.dronedeliverycanada.com/controllerboard/Heartbeat</value>
            </setting>
            <setting name="FlyeUAT" serializeAs="String">
                <value>https://FlyteUAT.dronedeliverycanada.com/controllerboard/Heartbeat</value>
            </setting>
            <setting name="FlyteProd" serializeAs="String">
                <value>https://Flyte.dronedeliverycanada.com/controller/Heartbeat</value>
            </setting>
            <setting name="IRIS" serializeAs="String">
                <value>http://173.244.122.69:8090/Heartbeat</value>
            </setting>
            <setting name="Azure" serializeAs="String">
                <value>http://flytepollingemulator.azurewebsites.net/api/heartbeat</value>
            </setting>
            <setting name="Local" serializeAs="String">
                <value>http://localhost:9982/heartbeatJSON</value>
            </setting>
            <setting name="HeartbeatURIJson" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EncryptionKey" serializeAs="String">
                <value>C86CDD56841742201ED86BD3BA4C5F4E3CDD73D56A0447ED7837C5EAE955C7CC</value>
            </setting>
            <setting name="UDPEndpoint" serializeAs="String">
                <value>162.247.246.165</value>
            </setting>
            <setting name="SessionID" serializeAs="String">
                <value>AABBCCDD</value>
            </setting>
        </JSONHB.Properties.Settings>
    </userSettings>
</configuration>